.Rproj.user
.Rhistory
.RData
data
pdf
*.log
*.Rproj
figures
*.html
*.aux
*.blg
*.docx
*.mdcombining_mixtures/R/combining_experiment_01_plot.R
combining_mixtures/abstract/codawork-2015.tex
combining_mixtures/tex/combining_mixtures.bbl
combining_mixtures/tex/combining_mixtures.bib
combining_mixtures/tex/combining_mixtures.tex
compositional_mixtures/Makefile
compositional_mixtures/tex/compositional_mixtures.bbl
compositional_mixtures/tex/compositional_mixtures.bib
compositional_mixtures/tex/compositional_mixtures.tex
compositional_mixtures/biblatex.def
compositional_mixtures/compositional_mixtures-blx.bib
compositional_mixtures/compositional_mixtures.dvi
compositional_mixtures/compositional_mixtures.fff
compositional_mixtures/compositional_mixtures.lof
compositional_mixtures/compositional_mixtures.lot
compositional_mixtures/compositional_mixtures.run.xml
compositional_mixtures/compositional_mixtures.ttt
compositional_mixtures/tex/compositional_mixtures-blx.bib
compositional_mixtures/tex/compositional_mixtures.bcf
compositional_mixtures/tex/compositional_mixtures.fff
compositional_mixtures/tex/compositional_mixtures.lof
compositional_mixtures/tex/compositional_mixtures.lot
compositional_mixtures/tex/compositional_mixtures.run.xml
compositional_mixtures/tex/compositional_mixtures.ttt
