abstract/chicago.bst
abstract/chicago.sty
abstract/codawork-2015.bbl
abstract/codawork-2015.bcf
abstract/codawork-2015.synctex.gz
abstract/combining_mixtures.bib
abstract/shortbib.bib
tex/combining_mixtures.synctex.gz(busy)
figure02
figure01b
figure01