ompositional_mixtures.bbl
compositional_mixtures.blg
compositional_mixtures.log
example-coda3-il3.tex
example-coda3-ilr3.tex
example-coda3.tex
example-glasses-A.tex
example-glasses-B.tex
example-glasses-ilr-A.tex
example-glasses-ilr-B.tex
example-glasses.tex
pars1_component_elimination.tex
pars2_component_elimination.tex
pars3_component_elimination.tex
pars_coda_gaussian_mixture.tex
pars_dirichlet_mixture.tex
